/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/codebreaker/statistics.yaml
/lib/codebreaker/index.rb
/spec/codebreaker/test_spec.rb

# rspec failure tracking
.rspec_status
